<%- include("basic-header", {title: title}); %>

<% res = res[0] %>

<div id="wrapper">
  <div id="leftWrapper">
      <div id="listView" class="list">
        <li><a href="/vacc/dashboard">Home</a></li>
        <li><a href="/vacc/dashboard/users">Users</a></li>
        <li class="list-item-active"><a href="/vacc/dashboard/settings">Settings</a></li>
        <li><a href="/vacc/logout">Logout
        <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </div>
    </div>

    <div id="rightWrapper">

        <div class="search">
          <form id="usrform" class="search-field" action="/vacc/dashboard/settings" method="POST">
            <!--<p>User</p>-->
            <input hidden id="name" type="text" name="id" readonly value="<%= res.user_id %>">
            <p>Name</p>
            <input id="name" type="text" name="name" readonly value="<%= res.name %>">
            <p>Role</p>
            <input id="name" type="text" name="name" readonly value="<%= res.role %>">
            <p>Old Password</p>
            <input id="old-password" type="password" name="oldPass" required>
            <p>New Password</p>
            <input id="password" type="password" name="newPass" onkeyup='check();' required>
            <p>Repeat Password</p>
            <input id="confirm_password" type="password" name="confirm_password" onkeyup='check();' required>
            <span style="display: none; color: #cc4747;" id="password_match">Passwords dont match</span><br>
            <input type="submit" id="search-button" value="update" required>
            <input style="display: none;" type="button" id="fake-button" name="cancel" value="update">
            <input type="button" id="cancel-button" name="cancel" value="Cancel" onClick="window.location.href='/vacc/dashboard/users';" />
          </form>
        </div>

    </div>
</div>

 <script type="text/javascript">

   // Check if passwords match
    var check = function(){
      if(document.getElementById('password').value == "" ||
          document.getElementById('confirm_password').value == "")
      {
        document.getElementById('confirm_password').style.border = 'none';
        document.getElementById('search-button').style.display = 'inline-block';
        document.getElementById('fake-button').style.display = 'none';
        document.getElementById('password_match').style.display = 'none';
      }
      else if (document.getElementById('password').value ==
          document.getElementById('confirm_password').value)
      {
        document.getElementById('confirm_password').style.border = 'solid #47cc54 1px';
        document.getElementById('search-button').style.display = 'inline-block';
        document.getElementById('fake-button').style.display = 'none';
        document.getElementById('password_match').style.display = 'none';
      }
      else
      {
        document.getElementById('confirm_password').style.border = 'solid #cc4747 1px';
        document.getElementById('search-button').style.display = 'none';
        document.getElementById('fake-button').style.display = 'inline-block';
        document.getElementById('password_match').style.display = 'inline-block';
      }
    }
  </script>

<%- include("footer"); %>
