<%- include("basic-header", {title: title}); %>

<div id="wrapper">
  <div id="leftWrapper">
      <div id="listView" class="list">
        <li class="list-item-active"><a href="/vacc/dashboard">Home</a></li>
        <li><a href="/vacc/dashboard/patients">Patients</a></li>
        <li><a href="/vacc/dashboard/settings">Settings</a></li>
        <li><a href="/vacc/logout">Logout
        <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </div>
    </div>

    <div id="rightWrapper">

<div class="search">
  <form class="search-field" action="/vacc/dashboard/patients" method="POST">
    <input type="text" name="search" placeholder="Search">
    <input type="submit" id="search-button" value="Search">
  </form>
</div>

      <div class="list-table">
        <article>
          <div id="list-table" class="article-header">Patients</div>
          <section id="list-table">

<table>
    <tr class="tb-title">
        <th>Id</th>
        <th>Name</th>
        <th>Personal number</th>
        <th>Vaccine</th>
        <th>Last vaccination date</th>
        <th>Total shots</th>
        <th>Notes</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.patient_id %></td>
        <td><%= row.name %></td>
        <td><%= row.personal_number %></td>
        <td><%= row.vaccine %></td>
        <td><%= row.last_vac_date %></td>
        <td><%= row.total_shots %></td>
        <td><%= row.notes %></td>
        <td><a href="/vacc/dashboard/users/edit/<%= row.user_id %>">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <a href="/vacc/dashboard/users/delete/<%= row.user_id %>">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a></td>
    </tr>
<% }; %>
</table>
          </section>
        </article>
      </div>
    </div>
</div>


<%- include("footer"); %>
