<%- include("basic-header", {title: title}); %>

<!--TODO: remove password and salt after testing is done-->

<div id="wrapper">
  <div id="leftWrapper">
      <div id="listView" class="list">
        <li class="list-item-active"><a href="/vacc/dashboard">Home</a></li>
        <li><a href="/vacc/dashboard/users">Users</a></li>
        <li><a href="/vacc/dashboard/settings">Settings</a></li>
        <li><a href="/vacc/logout">Logout
        <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </div>
    </div>

    <div id="rightWrapper">
      <div id="contentWrapper">
        <article>
          <div class="article-header">Users</div>
          <section>
<table>
    <tr class="tb-title">
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>
        <th>Username</th>
        <th>Password</th>
        <th>Salt</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.user_id %></a></td>
        <td><%= row.firstname %> <%= row.lastname %></td>
        <td><%= row.role %></td>
        <td><%= row.username %></td>
        <td><%= row.password %></td>
        <td><%= row.salt %></td>
        <td><a href="/vacc/dashboard/users/edit/<%= row.user_id %>">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <a href="/vacc/dashboard/users/delete/<%= row.user_id %>">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a></td>
    </tr>
<% }; %>
</table>
          </section>
        </article>
      </div>
    </div>
</div>


<%- include("footer"); %>
